<tr>
  <td class="notification">
		<% if notification.try(:read?) %>
		<% else%>
		 	<div class="notification_type"> 
    		<%= link_to notification.sender, notification.sender %> <%= notification.format %>!
    	</div>
    	<div class="notification_time">
				<%= time_ago_in_words(notification.created_at) %> ago.
			</div>
		<% end %>
  </td>
</tr>