<tr>
  <td class="notification">
		<% if notification.try(:read?) %>
				there are no new requests.
		<% else %>
		 	<div class="notification_type"> 
    		new <%= notification.format %>
    	</div>
    	<div class="notification_time">
				<%= time_ago_in_words(notification.created_at) %> ago.
			</div>
		<% end %>
  </td>
</tr>