<h1>Password Assistance</h1>
<p>Enter your email and you will receive a link to reset your password.</p>

<div class="form">
  <%= form_tag do %>
    <div>
    <%= label_tag "email", "Email" %>
    <%= text_field_tag :email, @email, :size => 40, :class =>"formfield" %>
    <%= submit_tag 'Send' %>
    </div>
  <% end -%>
</div>