<strong>Sign up for truthpage.me!</strong>
</p>
Sign up with your Facebook account:
<%= render :partial=>"authentications/services" %>
<p><strong>Already have an account? </strong><%= link_to "Sign in here", signin_url %>.</p>
<%= render :partial=>"form" %>