Sign up for truthpage.me!
</p>
Sign up with your Facebook account:
<%= render :partial=>"authentications/services" %>
<p>Already have an account? <%= link_to "Sign in here", signin_url %>.</p>
<%= render :partial=>"form" %>