
<tr>
  <td class="gravatar">
	 <%= render_user_avatar(feed_item.user, :thumb) %>
  </td>
  <td class="micropost">
    <div class="feed_timestamp">
      <%= render_feed_stamp(feed_item) %>
    </div>
    <span class="dashfeed_content">truth is <%= feed_item.content %></div>
    
  </td>
  
</tr>