<% if @feed_items.empty? %>
	<div class="dashfeed_content_noshow">
		Follow your friends to see what they're sharing!
	</div>
 
<% else %>
  <table class="microposts">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </table>
  <%= will_paginate @feed_items %>
<% end %>