<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(globalfeed_item.user), globalfeed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to globalfeed_item.user.name, globalfeed_item.user %>
    </span>
    <span class="content"><%= globalfeed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(globalfeed_item.created_at) %> ago.
    </span>
  </td>
</tr>