<tr>
  
  <td class="sidefeed">
    
    <span class="microfeed_content"> truth is <%= microfeed_item.content %></span>
    <span class="micro_timestamp">
      Shared <%= time_ago_in_words(microfeed_item.created_at) %> ago.
    </span>
  </td>
</tr>