<div class="user_info">
  <a href="<%= user_path(current_user) %>"> 
    <%= gravatar_for current_user, :size => 30 %>
    <span class="user_name">
      <%= current_user.name %> 
    </span>
    <span class="microposts">
      <div class="stat_spacer"><%= pluralize(current_user.microposts.count, "post") %> shared</div>
    </span>
  </a>
</div>