<div class="fhead">truthpage.me</div>
<p/>
<div class="fsub">© 2011 – 2012</div>
<p/>
<div class="fsub">About</div>
<p/>
<div class="fbody2">
truthpage.me is a site allowing users to share truths with their friends in a fun, easy, simple, and concise manner. We look toward the simplicity of the conventions found on our site to enhance the social experience of our users.
<p/>
Created in good taste by Chris Scutti and Brock Harris.
<p/>
Special thanks to Mike DelGrosso for his remarkable guidance in the final stages of development.
<p/>
Contact - support@truthpage.me
</div>