<div class="footer_container">

	<div class="fhead">truthpage.me</div>

	<div class="fsub">© 2011 – 2012</div>

	<div class="fsub">About</div>

	<div class="fbody2">
		truthpage.me is a site allowing users to share truths with their friends in a fun, easy, simple, and concise manner. We look toward the simplicity of the conventions found on our site to enhance the social experience of our users.
		<p/>

		<p>
		Created in good taste by Chris Scutti and Brock Harris.
		</p>

		<p>
		Special thanks to Mike DelGrosso for his remarkable guidance in the final stages of development.
		<p/>

		<p>
		truthpage.me is hosted in Houstatlantavegas.
		<p/>

		<p>
		For any questions, comments, or general contact inquiries, send us an email at support@truthpage.me.
		</P>
	</div>
</div>