<div class="fhead">truthpage.me</div>
<p/>
<div class="fsub">© 2011 – 2012</div>
<p/>
<div class="fsub">Help</div>
<p/>
<div class="fbody">
Once you’re signed in, click the Search link at the top of the page, find your friends and follow them.
<p/>
Then, navigate to their profile and leave your truth about them!
<p/>
Each truth you post and each truth your followed friends post will display in your Home feed.
<p/>
Leave us feedback via chris@truthpage.me or brock@truthpage.me. Enjoy the site!
</div>