<div class="footer_container">

	<div class="fhead">truthpage.me</div>

	<div class="fsub">© 2011 – 2012</div>

	<div class="fsub">Help</div>
	
	<div class="fbody">
	</p>
	Welcome to truthpage.me!
	</p>
	Once you’re signed in, share your profile with your friends via Facebook and Twitter.
	<p/>
	Then, navigate to your friends' profiles and leave truths about them!
	<p/>
	Each truth you post and each truth your followed friends post will display in the feed on your Friends page.
	<p/>
	Have questions or comments? Leave us feedback via chris@truthpage.me or brock@truthpage.me. We look forward to hearing from you!
	</div>
</div>