<div class="fhead">truthpage.me</div>
<p/>
<div class="fsub">© 2011 – 2012</div>
<p/>
<div class="fsub">Copyright Notice</div>
<p/>
<div class="fbody">
All materials contained on truthpage.me are protected by the accompanying copyright laws, and are the sole property of our partnership. They may not be reproduced, republished, distributed, transmitted, displayed, broadcast, forwarded or otherwise exploited in any manner whatsoever without the expressed prior written consent of truthpage.me and its founding partners.
<p/>
<div class="fsub">Intellectual Property Notice</div>
<p/>
Our founding development partnership hereby declares that we are the original proprietors of the idea and any images, URLs, web forms, features, conventions and schemas found or contained in truthpage.me. We also declare that we are the sole holding proprietors of material formatted, added, and/or modified throughout overall site development from inception to launch.
<p/>
Furthermore, any material found on truthpage.me involving front and/or back-end site source code is the sole property of truthpage.me and its founding partners.
<p/>
Any attempted, outside, unauthorized attempt to reproduce, modify, change, add or subtract our founding ideas, use cases, material, web forms, schematics, URLs, images, user accounts, or any other element contained and held legally proper by truthpage.me and its founding partners will be address to the fullest extent of governing legal jurisdiction.
<p/>
Any legal inquiries regarding truthpage.me and any of its materials, site content, copyrights, domains, or any other legal matter pertaining hereto, may be directed to chris@truthpage.me.
<p/>
Our founding partnership would like to personally thank you for being a part of the truthpage.me experience. We look forward to serving you.
</div>
