<div class="fhead">truthpage.me</div>
</p>
<div class="fsub">© 2011 – 2012</div> 
</p>
<div class="fsub">Terms of Service </div>
</p>
<div class="fbody">
By using truthpage.me you agree to the following: 
</p>
That you are at least 13 years of age, in line with the Children’s Online Privacy Protection Act of 1998. Truthpage.me will not tolerate accounts created with birthdays denoting an age less than 13. As a result, any birthday inputted into a sign-up form displaying an age less than 13 will be effectively invalid.
</p>
To conduct yourself in an appropriate manner pertaining to site-containing elements, and ensure that any behavior and actions taken on truthpage.me are in line with the legal jurisdiction of your location.
</p>
To use truthpage.me solely for its intended usages. Any unorthodox misuse of truthpage.me absent of these intended usages will be subject to immediate termination of user account and legal action to the fullest extent of governing laws.
</p>
Under no circumstances shall truthpage.me, its founding partners or any of its respective contingencies, shareholders, agents or representatives be held liable for any damages incurred to you or any user, direct, indirect, special or consequential, resulting from user misuse of the site and any of its overall conventions put forth, in any circumstance.
</div>
