<div class="welcome_banner">
	<h1>Welcome to truthpage.me!</h1>
</div>
<div class="step_container">
	Share your profile url: truthpage.me/<%= current_user.username %>
</div>
<div class="step_container">
	Find your <%= link_to "friends", root_url %> and write a truth about them.
</div>
<div class="step_container">
	Follow your friends,
</div>