<div class="welcome_banner">
	<h1>Welcome to truthpage.me!</h1>
	<h2>A sub-header can go here.</h2>
</div>
<div class="step_container">
	<h2>1</h2>
	<h1>Share your profile url: truthpage.me/<%= current_user.username %></h1>
</div>
<div class="step_container">
	<h2>2</h2>
	<h1>Find your <%= link_to "friends", root_url %> and write a truth about them.</h1>
</div>
<div class="step_container">
	<h2>3</h2>
	<h1>Follow your friends,</h1>
</div>