<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
      h1 { color: #f00; font-family:arial; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <h1>
		<%= @micropost.user.username %> has sent you a new truth on truthpage.me!
	</h1>
    <p>
      	Click here <%= @url %> to view this new truth.<br/>
    </p>
	<p>
		If you do not wish to receive future emails from truthpage.me, click here <%= @unsubscribe %> to unsubscribe.
	</p>
	<p>
		Be sure to send us feedback at support@truthpage.me.
	</p>
  </body>
</html>