<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
      h1 { color: #f00; font-family:arial; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <h1>
		<%= @mailer_sender %> sent you a new truth on truthpage.me!
	</h1>
    <p>
      	Click here <%= @url %> to view this new truth.<br/>
    </p>
	<p>
		To change your email notification settings <%= link_to "click here", @settings_url %>.
	</p>
	<p>
		Be sure to send us feedback at support@truthpage.me.
	</p>
  </body>
</html>