<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.username %>, you received a new truth!</h1>
    <p>
      The new truth says <%= @micropost.content %>.<br/>
    </p>
    <p>
      To see this new post, go to: <%= @url %>.
    </p>
  </body>
</html>