<tr>
  <td>
	<span class="ticker_photo"><%= render_user_avatar(micropost.user, :thumb) %></span>
	<span class="ticker_user">
	<%= link_to micropost.user.username, micropost.user %> shared with a friend:
	</span>
	  <br/>
    <span class="ticker_content">truth is <%= micropost.content %></span> 
  </td>
</tr>