s/*************  footer/terms/about/etc.. pages  **********/

.align-text {
	text-align:center;
}
.fhead {
	font-size: 35pt;
	font-family: helvetica;
	font-weight: 400;
	text-align:center;
}
.fsub	{
	font-size: 16pt;
	font-family: helvetica;
	font-weight: 300;
	text-align:center;
}
.fbody {
	font-size: 12pt;
	font-family: times;
	margin-left: 20px;
	margin-right: 20px;
}
.fbody2 {
	font-size: 12pt;
	font-family: arial;
	margin-left: 20px;
	margin-right: 20px;
	text-align:center;
}
.footer_links {
	font-family:helvetica;
	font-size:11pt;
	font-weight:400;
	color:#EEE;
}
.footer_background {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	background:rgba(0,0,0,0.40);
}
.admin_container {
	text-align:left;
	padding:10px;
	width:100%;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.admin_container2 {
	text-align:left;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:95%;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.row1 {
	background:#E8F2FF;
	padding:2px;
}

/*************  CSS for general layout  **********/

.container {
	font-family: arial;
	margin-left:auto;
	margin-right:auto; 
	width: 840px;
	margin-top:-20px;
}
section {
  margin-top: 90px;
  font-size: 120%;
	font-family: arial;
	font-style: black;
}
body {
	font-family: arial;
  background-color: #E8E8E8;
  margin:0;
}

/************* header ************/

.header_bar {
	top:0;
	position:fixed;
	color: #EEE;
	background: 
	-webkit-gradient(linear, left top, left bottom, 
	color-stop(0%,rgba(107,157,219,1)), 
	color-stop(100%,rgba(35,83,138,1)));
	width: 100%;
	height:65px;
	border-bottom:1px solid #333;
	box-shadow:0px 0px 4px #000000;
}
.header_text {
	padding-top:15px;
	font-weight:400;
	font-size: 32pt;
  font-family: book antiqua;
  text-shadow: rgba(0,0,0,0.3) -1px 0, 
  				rgba(0,0,0,0.3) 0 -1px, 
  				rgba(255,255,255,0.5) 0 1px, 
  				rgba(0,0,0,0.3) -1px -2px;
	color: #EEE;
	margin-top:-13px;
	margin-left:25px;
}
.header_text li a {
  color:#2A4668;
  text-decoration:none;
  text-align:center;
}
.header_text li a:hover {

}
.header_links {
	font-family:arial;
	font-weight:600;
	font-size:11pt;
	margin-right:7px;
}
.welcome_user_avatar {
	float:right;
	margin:-23px 25px 0 0;
	width:25px;
	height:25px;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.welcome_user_text {
	margin:-18px 5px 0 0;
	float:right;
	font-family:arial;
	color:#EEE;
	font-size:11pt;
}
.welcome_user_text:hover {
	text-decoration:underline;
}

/************* Welcome page (for new users) ************/

.welcome_banner {
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.welcome_banner h1 {
	padding-top:10px;
	font-weight:500;
	font-size:38px;
	color:#26568D;
	font-family:helvetica neue;
	text-align:center;
	line-height: 1;
	vertical-align:top;
}
.welcome_banner h2 {
	margin-top:-20px;
	padding-bottom:10px;
	font-weight:500;
	font-size:20px;
	color:#000;
	font-family:helvetica neue;
	text-align:center;
	line-height: 1;
}
.step_container {
	width:80%;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.step_container h1 {
	padding:10px;
	font-size:14pt;
}
.step_container h2 {
	float:left;
	margin-left:10px;
	margin-right:20px;
	font-size:24pt;
}

/************* Notifications ************/


.notification_delete {
	float:right;
	vertical-align:top;
	margin-top:-30px;
	margin-right:10px;	
	border:none;
	display: block;
	width: 14px; height: 14px;
	background-image: url('delete-x.png');
	background-position: top;
	text-indent: -9999px;
}
.notification_delete:hover {
	cursor:pointer;
	background-position: bottom;
}
.notification_clear_all {
	border-top: 1px #4C4C4C solid;
}
.notification_clear_all_button {
	border:none;
	margin-left:135px;
	background:none;
	color:#CCC;
	font-size:10pt;
}
.notification_clear_all_button:hover {
	text-decoration:underline;
	cursor:pointer;
}
.notification {
	width:200px;
	height:50px;
	float:right;
	background:white;
}
.notification_list {
	width:300px;
	margin-top:20px;
}
.notification_type {
	margin-left:5px;
	margin-right:5px;
	color:#EEE;
	font-size:11pt;
	font-family:arial;
	border-top: 1px #4C4C4C solid;
	padding-top:3px;
}
.notification_time {
	margin-left:10px;
	font-family:helvetica;
	font-size: 65%;
  color: #ccc;
  margin-top:5px;
  padding-bottom:10px;
}
.noty_menu {
	margin-left:-82px;
	font-size:11pt;
	height:20px;
	width:20px;
	padding: 1px 4px 1px 3px;
	background:red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);
}
.noty_menu:hover {
	text-decoration:none;
	background:#D62424;
}
.noty_menu:active {
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}
.bubble_placement {
	float:right;
	margin-top:-48px;
	margin-right:50px;
	z-index:9999;
}
.menu_header {
	background-color:rgba(10,10,10,0.15);
	text-align:left;
	color: white;
	font-size:14pt;
	text-shadow:1px 1px 5px #000;
	font-family:arial;
	padding:5px;
}
ul, li {
  margin:0;
  padding:0;
  list-style:none;
}
 
.menu_class {
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	float:right;
}
.the_menu {
	background-color:rgba(10,10,10,0.85);
  display:none;
  width:340px;
  z-index:0;
  position:absolute;
	left:600px;
	top:65px;
	border-top:1px solid #000;
	border-radius: 0px 0px 5px 5px; 
	-moz-border-radius: 0px 0px 5px 5px; 
	-webkit-border-radius: 0px 0px 5px 5px; 
	box-shadow:0px 6px 13px #323133;

}
.the_menu li {
  background: none;
}
 
.the_menu li a {
  color:#98C8ED;
  text-decoration:none;
  text-align:center;
}
 
.the_menu li a:hover {
  text-decoration:underline;
}

/*************  Style link options  **********/

a {
  color: #005588;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/************** Navigation *****************/

.headerlink_place {
	margin-top:-18px;
	margin-right:52%;
	color: #EEE;
}

nav {
	margin-top:-30px;
	float:right;
  padding: 0 0.7em;
  white-space: nowrap;
	color: black;
	font-family:arial;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  color: black;
	list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
	text-decoration:none;
	text-shadow:0px 1px 1px #000000;
  color: #FFF;
	padding: 0 6px;
}
nav ul li a:hover {
  color:#8fdcff;
  text-decoration:none;
}
nav ul li a:active {
	text-shadow:0px 0px 0px #000000;
}

.round {
-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
	color:#EEE;
  float: none;
}

/*************** Stuff for Authenticated users *************/


.stat_spacer {
	margin-top:10px;
	font-size:12pt;
	text-align:center;
	
}
.truth_request_placement {
	margin-left:28px;
	margin-top:-20px;
}
.truth_request {
	-moz-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	box-shadow:inset 0px 1px 0px 0px #b9ff91;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #85db5a), color-stop(1, #56ab35) );
	background:-moz-linear-gradient( center top, #85db5a 5%, #56ab35 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#85db5a', endColorstr='#56ab35');
	background-color:#85db5a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3ba800;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #256600;
}
.truth_request:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ec75a), color-stop(1, #529633) );
	background:-moz-linear-gradient( center top, #7ec75a 5%, #529633 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ec75a', endColorstr='#529633');
	background-color:#7ec75a;
	cursor:pointer;
}
.truth_request:active {
	color:#EEE;
}
.follow_button {
	margin-top:10px;
	margin-left:30px;
	width:179px;
	-moz-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	box-shadow:inset 0px 1px 0px 0px #b9ff91;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #85db5a), color-stop(1, #56ab35) );
	background:-moz-linear-gradient( center top, #85db5a 5%, #56ab35 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#85db5a', endColorstr='#56ab35');
	background-color:#85db5a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3ba800;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #256600;
}
.follow_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ec75a), color-stop(1, #529633) );
	background:-moz-linear-gradient( center top, #7ec75a 5%, #529633 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ec75a', endColorstr='#529633');
	background-color:#7ec75a;
	cursor:pointer;
}
.follow_button:active {
	color:#EEE;
}

.unfollow_button {
	margin-top:10px;
	margin-left:30px;
	width:179px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#cccccc');
	background-color:#ebebeb;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bdbdbd;
	display:inline-block;
	color:#6b6b6b;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px -1px 1px #ffffff;
}
.unfollow_button:hover {
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffe8e8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffe8e8;
	box-shadow:inset 0px 1px 0px 0px #ffe8e8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffd1d1), color-stop(1, #ff9e9e) );
	background:-moz-linear-gradient( center top, #ffd1d1 5%, #ff9e9e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1d1', endColorstr='#ff9e9e');
	background-color:#ffd1d1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff8585;
	display:inline-block;
	color:#575757;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px -1px 1px #ffffff;
}
.unfollow_button:active {
	color:#666;
}
.home_signin_line{
	margin-bottom: -25px;
	margin-top: 30px;
	margin-left: 150px;
	color: #104E8B;
	font-size: 19px;
}


/************* CSS for all forms **********/

.formlabel {
	color:#666;
	font-size:12pt;
	padding-bottom:5px;
	margin-left:5px;
}
.formfield {
	color:#666;
	font-size:11pt;
	padding: 0.5em;
   line-height: 1.2em;
   width: 230px;
   height:20px;
   background: #fff;
   background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 1%, rgba(255,255,255,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(238,238,238,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* IE10+ */
background: linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow: 0px 0px 1px 1px #ccc;
  border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
   border: 1px solid #999;

}
.formfield:focus {
	-webkit-box-shadow: 0px 0px 3px 1px #30B2D6;
	-moz-box-shadow: 0px 0px 3px 1px #30B2D6;
	box-shadow: 0px 0px 3px 1px #30B2D6;
	color:#333;
   border: 1px solid #30B2D6;
   outline: none;

}
.alt_formlabel {
	color:#666;
	font-size:12pt;
}

/********** Signin Page *************/

.signin_header {
	padding-bottom:20px;
	color:#2A4668;
	font-family:arial;
	font-size:24pt;
	font-weight:500;
	font-size: 24pt;
	margin-left:120px;
}
.signup_header {
	color:#2A4668;
	font-family:arial;
	font-size:24pt;
	font-weight:500;
	margin-left:140px;
}
.signin_container {
	padding:10px;
	width:100%;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.signin_facebook {
	margin-left:76px;
	padding-bottom:10px;
}
.signin_or {
	font-size:18pt;
	padding-left:160px;
	padding-bottom:20px;
}
.signin_field {
	margin-left:60px;
	margin-bottom:10px;
}
.signin_button_placement {
	margin-left:95px;
}
.signup_condition_link {
	color:#666;
	font-size:9pt;
	margin-top:20px;
	margin-left:80px;
	margin-bottom:-10px;
}
.signin_forgotpw {
	margin-top:-5px;
	margin-left:80px;
	font-size:10pt;
	float:left;
}
.signin_left {
	vertical-align:top;
}
.signin_right {
	vertical-align:top;
}


/************* Styles for fancybox **********/

.fancybox_page {
	font-family:arial;
	padding:20px;
	width:400px;
}
.fancybox_header {
	line-height: 1px;
  letter-spacing: -1px;
	padding-bottom:20px;
	text-align:center;
	font-size:24pt;
	font-weight:500;
	color:#2764A2;
	margin-bottom:10px;
	border-bottom:1px solid #EEE;
}
.fancybox_no_facebook {
	font-size:11pt;
	margin-top:5px;
	margin-bottom:15px;
}
.fancybox_signin_button {
	padding-top:10px;
	margin-left:40px;
}
.fancybox_signup_form {
	margin-left:-80px;
}

/************* (profile) User Show page **********/


.profile_container {
	width:900px;
	padding:10px;
	margin-top:-30px;
	margin-left:-30px;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.profile_noshow {
	text-align:center;
	font-size:11pt;
	padding:10px;
	margin-top:20px;
}
.share_url {
	padding-top:30px;
	padding-left:20px;
	color:black;
}
.share_url_ribbon {
	margin-top:-10px;
	width: 610px;
	height: 80px;
	margin-left:-46px;
	color: white;
	background-image: url("banner.png");
}
.profile_stats {
	margin-left:125px;
	margin-top:20px;
	line-height:1px;
	color:#26568D;
	text-shadow:0px 0px 1px #CCC;
	font-family:helvetica neue;
	font-size:14pt;
}
.name_container {
	margin-top:5px;
	width:250px;
	float:left;
}
.profile_avatar {
	width:100px;
	height:100px;
	margin-top:-90px;
	margin-left:10px;
	-webkit-box-shadow: 0px 0px 1px 1px #333;
	-moz-box-shadow: 0px 0px 1px 1px #333;
	box-shadow: 0px 0px 1px 1px #333;
}
.profile_name {
	text-shadow:0px 1px 1px #CCC;
	font-weight:500;
	color:#333;
	font-family:helvetica neue;
	line-height: 1;
	padding-top:10px;
	margin-left:120px;
	font-size:22pt;
}
.profile_blurb {
	width:400px;
	font-size:11pt;
	font-weight:200;
	font-family:arial;
	text-align:center;
	color:#666;
	margin:20px 0 0 100px;
}
.profile_buttons {
	margin-top:10px;
}
.right_container {
	vertical-align:top;
}
.newpost_container {
	vertical-align:top;
	width:555px;
	float:right;
	margin:20px 14px 0 0;
	padding:0 30px 35px 0;
	border-bottom:1px solid #CCC;
}
.micropost_form_container {
	margin:40px 0 -30px 50px;
}
.micropost_form_header {
	text-align:left;
	margin:0 0 10px -10px;
}
form.new_micropost {
  margin-bottom:2em;
}
form.new_micropost textarea {
	padding:5px 5px 0 5px;
	width: 520px; 
	height: 30px;
	margin-top:5px;
	margin-left:-25px;
	font-size: 12pt;
	font-weight:200;
	color: #333;
	border:none;
	border: 1px solid #CCC;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	outline:none;
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(244,244,244,1) 7%, rgba(244,244,244,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(7%,rgba(244,244,244,1)), color-stop(100%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(244,244,244,1) 7%,rgba(244,244,244,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(244,244,244,1) 7%,rgba(244,244,244,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(244,244,244,1) 7%,rgba(244,244,244,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(244,244,244,1) 7%,rgba(244,244,244,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
form.new_micropost textarea:focus {
	line-height: 1.2em;
	background:#F2FAFF;
	-webkit-box-shadow: 0px 0px 3px 1px #30B2D6;
	-moz-box-shadow: 0px 0px 3px 1px #30B2D6;
	box-shadow: 0px 0px 3px 1px #30B2D6;
  border: 1px solid #30B2D6;
  outline: none;
}
.anon_button{
	color:#666;
	font-family:helvetica;
	font-size:11pt;
	font-weight:200;
	margin:-25px 0 -20px 174px;
}
.share_placement{
	margin-left:410px;
}
.submitpost {
	-moz-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	box-shadow:inset 0px 1px 0px 0px #99d6ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51bafc), color-stop(1, #0076d1) );
	background:-moz-linear-gradient( center top, #51bafc 5%, #0076d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51bafc', endColorstr='#0076d1');
	background-color:#51bafc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #005cad;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #00058a;
}
.submitpost:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36a2e0), color-stop(1, #0065b3) );
	background:-moz-linear-gradient( center top, #36a2e0 5%, #0065b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36a2e0', endColorstr='#0065b3');
	background-color:#36a2e0;
	cursor:pointer;
}
.submitpost:active {
	color:#EEE;
}
.truth-is {
	color:#666;
	font-family:comic sans ms;
	font-size:18pt;
	margin-left:200px;
}
.profile_feed_header {
	color:#26568D;
	font-size:20pt;
	line-height:1;
	font-weight:400;
	font-family: helvetica neue;
	text-shadow:0px 1px 1px #CCC;
	text-align:center;
	margin-top:10px;
	margin-bottom:-20px;
}
.profile_side {
	float:left;
	padding-left:10px;
	margin-left:-5px;	
	width:92%;
	overflow:hidden;
}
.top_truths {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}
.top_truths_header {
	color:#666;
	border-top:1px solid #CCC;
	width:235px;
	text-align:center;
	padding-left:5px;
	padding-top:8px;
	padding-bottom:5px;
	overflow:hidden;
}
.top_truth_post {
	width:240px;
	border-top:1px solid #EEE;
}
.top_truth_content {
	background:#ddffdd;
	padding:3px;
	font-family:arial;
	font-size:11pt;
}
.top_truth_avatar {
	float:right;
	margin-left:5px;
	margin-right:3px;
	margin-top:3px;
}
.top_truth_author {
	float:right;
	margin-top:6px;
	font-size:12pt;
	color:#666;
}
.profile_following-h {
	color:#666;
	padding-top:10px;
	margin-bottom:5px;
	padding-left:10px;
	border-top:1px solid #CCC;
}
.profile_truth_stats {
	margin-bottom:15px;
	text-align:center;
	width:100%;
	overflow:hidden;
}
.profile_stat_counter {
	padding:3px;
	background:#C6D2EE;
}
.followlist_name {
	font-size:11pt;
	padding-top:2px;
	vertical-align:top;
	overflow:hidden;
}
.profile_following {
	margin-left:10px;
	padding:5px;
	margin-bottom:20px;
	overflow:hidden;
	
}
.profile_followers {
	margin-left:10px;
	padding:5px;
	margin-bottom:20px;
	overflow:hidden;
}

h1.micropost {
  margin-bottom: 0.3em;
}
table.microposts tr td.micropost {
	float:right;
  font-size:11pt;
	vertical-align: top;
	width: 585px;
	background:white;
	padding-top:4px;
	padding-bottom:4px;
	margin-right:10px;
	border-bottom:1px solid #CCC;
}												
table.microposts {
	float:right;
	width: 570px;
	margin-top:12px;
	padding-bottom:10px;
}

table.microposts tr {
  height: 80px;

}
.micropost_header {
	font-family:calibri;
	margin-top:-3px;
	padding:2px;
	color:#666;
}
.micropost_userpic {
	padding:2px;
	margin-left:2px;
}
.micropost_username {
	margin-left:35px;
	margin-top:-32px;
	font-size:13pt;
}
.micropost_content {
	font-family:calibri;
	margin: -10px 8px 15px 5px;
	text-indent:5px;
}

.micropost_timestamp {
	float:right;
  font-size:9pt;
  color:#666;
	margin-right:5px;
	font-family:arial;
}

.delete_link {
	margin-top:-12px;
	margin-left:7px;
	float:right;
	border:none;
	display: block;
	width: 14px; height: 14px;
	background-image: url('post_delete.png');
	background-position: top;
	text-indent: -9999px;
}
.delete_link:hover {
	cursor:pointer;
	background-position: bottom;
}
.micropost_true_button {
	font-weight:400;
	font-size:9pt;
	border:none;
	margin-right:-3px;
  color:#216389;
	background:none;
}
.micropost_true_button:hover {
	text-decoration:underline;
	cursor:pointer;
}
.micropost_false_button {
	font-weight:400;
	font-size:9pt;
	margin-right:-3px;
	border:none;
	color:#D57E35;
	background:none;
}
.micropost_false_button:hover {
	text-decoration:underline;
	cursor:pointer;
}
.counter_divider {
	color:#216389;
	font-weight:600;
	padding:0 3px 0;
}
.fake_rating_button {
	font-size:9pt;
	margin-left:5px;
	padding:2px;
	color:#96C1DE;
}
.micropost_true {
	color:#666;
	font-size:10pt;
	float:left;
}
.micropost_false {
	color:#666;
	font-size:10pt;
	float:left;
}
.unauth_spacer {
	height:25px;
}
.true_counter {
	color:#333;
	font-size:8pt;
	padding:2px 4px 2px;
	border:1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.false_counter {
	color:#333;
	font-size:8pt;
	padding:2px 4px 2px;
	border:1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.comment_counter {
	color:#333;
	padding:2px 4px 2px;
	border:1px solid #CCC;
	font-size:8pt;
	float:right;
	margin-right:5px;
	margin-top:-2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.post_comments {
	width:545px;
	padding:10px;
	margin:40px 10px 0;
	border-top:1px solid #EEE;
	background:#EEE;
}
.open_comments {
	float:right;
	font-weight:400;
	font-size:9pt;
	padding:2px;
	margin-top:-1px;
	padding-right:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.open_comments:hover {
	text-decoration:underline;
	cursor:pointer;
}
.micropost-comment{
	margin-top:10px;
	width:100%;
}


/************* profile settings page **********/


.settings_container {
	padding:10px;
	padding-bottom:20px;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.settings_fields{
	margin-left:80px;
	margin-top:20px;
}
.settings_blurb{
	color:#666;;
	padding-left:5px;
	padding-bottom:2px;
	height: 120px;
	font-size:11pt;
	width: 237px;
	font-family:helvetica;
  line-height: 1.2em;	
	background: #fff;
  background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 1%, rgba(255,255,255,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(238,238,238,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* IE10+ */
	background: linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow: 0px 0px 1px 1px #ccc;
  border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
   border: 1px solid #999;
}
.settings_blurb:focus {
	color:#333;
	-webkit-box-shadow: 0px 0px 3px 1px #30B2D6;
	-moz-box-shadow: 0px 0px 3px 1px #30B2D6;
	box-shadow: 0px 0px 3px 1px #30B2D6;
  border: 1px solid #30B2D6;
  outline: none;

}

.savesettings {
	-moz-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	box-shadow:inset 0px 1px 0px 0px #99d6ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51bafc), color-stop(1, #0076d1) );
	background:-moz-linear-gradient( center top, #51bafc 5%, #0076d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51bafc', endColorstr='#0076d1');
	background-color:#51bafc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #005cad;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #00058a;
}
.savesettings:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36a2e0), color-stop(1, #0065b3) );
	background:-moz-linear-gradient( center top, #36a2e0 5%, #0065b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36a2e0', endColorstr='#0065b3');
	background-color:#36a2e0;
	cursor:pointer;
}
.savesettings:active {
	color:#EEE;
}
.save_button {
	margin-top:30px;
	margin-left:150px;
}
.settings_header {
	margin-top:15px;
	padding-bottom:15px;
	color:#2764A2;
	font-size: 24pt;
	text-align:center;
	line-height: 1px;
  letter-spacing: -1px;
  font-weight:500;
}
.photo_container {
	margin-left:500px;
	margin-top:-170px;
}
.settings_photo{

}
.change_avatar {
	padding-top:10px;
	padding-left:20px;
}
.settings_mail {
	color:#666;
	font-size:12pt;
	margin-top:20px;
	margin-left:90px;
}

/************* AuthHome **********/


.facebook_share {
	margin-left:100px;
	-moz-box-shadow:inset 0px 1px 0px 0px #8ca6db;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ca6db;
	box-shadow:inset 0px 1px 0px 0px #8ca6db;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #688ad4), color-stop(1, #4866a8) );
	background:-moz-linear-gradient( center top, #688ad4 5%, #4866a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#688ad4', endColorstr='#4866a8');
	background-color:#688ad4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #425b8f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #221c47;
}
.facebook_share:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5976b3), color-stop(1, #3a5691) );
	background:-moz-linear-gradient( center top, #5976b3 5%, #3a5691 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5976b3', endColorstr='#3a5691');
	background-color:#5976b3;
	cursor:pointer;
}
.facebook_share:active {
	color:#EEE;
}
.facebook_invite {
	margin-top:10px;
	margin-left:6px;
	-moz-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b9ff91;
	box-shadow:inset 0px 1px 0px 0px #b9ff91;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #85db5a), color-stop(1, #56ab35) );
	background:-moz-linear-gradient( center top, #85db5a 5%, #56ab35 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#85db5a', endColorstr='#56ab35');
	background-color:#85db5a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3ba800;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #256600;
}
.facebook_invite:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ec75a), color-stop(1, #529633) );
	background:-moz-linear-gradient( center top, #7ec75a 5%, #529633 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ec75a', endColorstr='#529633');
	background-color:#7ec75a;
	cursor:pointer;
}
.facebook_invite:active {
	color:#EEE;
}
.custom-tweet-button {
	margin-left:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ade9ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ade9ff;
	box-shadow:inset 0px 1px 0px 0px #ade9ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7dd7f5), color-stop(1, #22a0c7) );
	background:-moz-linear-gradient( center top, #7dd7f5 5%, #22a0c7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dd7f5', endColorstr='#22a0c7');
	background-color:#7dd7f5;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #2892ad;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #154f6e;
}
.custom-tweet-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #57c2e6), color-stop(1, #2589a8) );
	background:-moz-linear-gradient( center top, #57c2e6 5%, #2589a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#57c2e6', endColorstr='#2589a8');
	background-color:#57c2e6;
	cursor:pointer;
}
.custom-tweet-button:active {
	color:#EEE;
}

.dash_column {
	float:left;
	width:243px;
	padding:5px;
	margin-top:10px;
	margin-left:-19px;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.dash_container {
	width:836px;
	margin-left:-19px;
	margin-top:-19px;
	background:white;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.share_section {
	vertical-align:top;
	width:100%;
	padding-right:5px;
}
.dash_avatar {
	float:left;
	padding:5px;
	width:220px;
}
.invite_friends {
}
.share_buttons {
	float:right;
	margin-right:120px;
	margin-bottom:10px;
}
.profile_link {
	font-size:16pt;
	font-family:arial;
	text-align:center;
	padding:5px;
	margin-bottom:5px;
}
.profile_sharelink {
	font-size:20pt;
	font-weight:500;
	color:#2764A2;
	font-size:24pt;
	font-family:georgia;
	padding:10px;
	text-align:center;
}
.dashfeed_title {
	width:550px;
	color:#666;
	font-size:18pt;
	font-family: georgia;
	text-align:center;
	background:white;
	margin-top:10px;
	padding:10px;
	float:right;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}
.dashfeed_content {
	font-size: 13pt;
	font-family: arial;
	color:#333333;
	float:right;
	vertical-align:bottom;
	width: 500px;
}
.dashfeed_content_noshow {
	margin-left:58px;
	margin-top:20px;
	font-size:11pt;
}
.feed_timestamp{
	vertical-align:top;
	font-size: 11pt;
	margin-top: -9px;
	padding-bottom: 4px;
	color:gray;
}
.dash_user {
	font-size:18pt;
	margin-top:0px;
	float:left;
}
.dash_stats {
	float:left;
	font-size:12pt;
	padding:5px;
	margin-left:5px;
}
.fb_feed_container {
	height:200px;
	overflow:auto;
}
.fb_feed_header {
	color:#666;
	margin:10px;
	padding-top:10px;
	border-top:1px solid #CCC;
}
.fb_feed_friends {
	font-weight:400;
	color:#666;
	margin:10px;
	padding-bottom:5px;
	border-bottom:1px solid #CCC;
}
.fb_friends_noshow {
	margin-top:10px;
	margin-bottom:10px;
	font-size:10pt;
	text-align:center;
}
.fb_friends_noshow_fb {
	margin-left:15px;	
}
.fbfriends_box {
	margin-left:14px;
}
.fbfriend_block {
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
.fbfriend_username {
	font-size:9px;
	width:50px;
	overflow:hidden;
}
.fb_feed {
	width:100%;
	padding-bottom:10px;
}
.fb_feed_item {
	border-bottom:1px solid #2764A2;
	margin-bottom:5px;
}
.fb_feed_users {
	width:230px;
	overflow:hidden;
	font-family:arial;
	font-size:12pt;
	color:#2764A2;
	vertical-align:top;
}
.fb_feed_content {
	font-size:11pt;
	text-indent:3px;
	width:100%;
	padding-bottom:3px;
}

/************* Unauthenticated Home *************/

.header_box {
  padding:10px;
  width:820px;
  height:320px;
  margin-bottom: 30px;
  background-image: url('crowd.png');
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.header_box h1 {
  margin-top:-1px;
  margin-left:-2px;
  font-size: 38px;
  line-height: 1;
	text-align:left;
	color:#FFF;
}
.header_body {
	margin-left:10px;
	margin-top:260px;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  font-weight:500;
	text-align:left;
	color:#EEE;
}
.fblike {
	width: 50%;
	margin-bottom: -20px;
	margin-top: 30px;
}
.ticker_header{
	font-weight:500;
	width:562px;
	padding:10px;
	margin-bottom:10px;
	margin-top:-20px;
	font-size:18pt;
	font-family: helvetica neue;
	padding-left:20px;
	color:#26568D;
	background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#vertical-ticker{
	height:640px;
	width:580px;
	padding-bottom:10px;
	padding-left:12px;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(232,232,232,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(232,232,232,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(232,232,232,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(232,232,232,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(232,232,232,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}
#vertical-ticker li{
	height:80px;
	width:560px;
	overflow:hidden;
  display:block;
  background:#fff;
  color:#000;
	padding:4px;
	margin-bottom:5px;
  text-align:left;
  font-size:13px;
  font-weight:normal;
  font-family: Helvetica Neue, times, serif;
  webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.9);

}
#vertical-ticker li img {
	vertical-align:middle;
	margin-top:3px;
	}
.ticker_content {
	border-top:1px solid #EEE;
	margin-top:-10px;
	padding-top:3px;
	padding-left:2px;
	font-size:11pt;
	font-family:arial;
}
.ticker_user {
	float: left;
	margin-left: 5px;
	font-size:14px;
	overflow:hidden;

}
.ticker_photo {
	float:left;
	margin-left: 4px;
}	
.home_signup_box {
	margin-top:-709px;
	float:right;
	padding:5px;
	width:224px;
	background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.home_signup_box h1 {
	font-weight:500;
	margin-left:3px;
	margin-top:5px;
	font-size:26px;
	color:#26568D;
	font-family:helvetica neue;
	text-align:left;
	line-height: 1;
}
.signup_box_fbconnect {
	margin-left:7px;
}
.home_signin_or {
	text-align:center;
	padding:5px;
	color:#666;
}
.home_signin_forgotpw {
	font-size:8pt;
	margin-left:5px;
	margin-top:5px;
}
.home_signin_field {
	margin-top:10px;
	margin-left:3px;
}
.home_formlabel {
	color:#666;
	font-size:11pt;
	padding-bottom:5px;
	margin-left:5px;
}
.home_formfield {
	color:#666;
	font-size:11pt;
	padding: 0.5em;
   line-height: 1.2em;
   width: 200px;
   height:15px;
   background: #fff;
   background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 1%, rgba(255,255,255,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(238,238,238,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* IE10+ */
background: linear-gradient(top, rgba(238,238,238,1) 1%,rgba(255,255,255,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow: 0px 0px 1px 1px #ccc;
  border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
   border: 1px solid #999;

}
.home_formfield:focus {
	-webkit-box-shadow: 0px 0px 3px 1px #30B2D6;
	-moz-box-shadow: 0px 0px 3px 1px #30B2D6;
	box-shadow: 0px 0px 3px 1px #30B2D6;
	color:#333;
   border: 1px solid #30B2D6;
   outline: none;

}

.home_signin_button_placement {
	margin-top:10px;
	margin-left:20px;
	margin-bottom:5px;
}
.home_facepile_box {
	margin-top:-375px;
	float:right;
	width:220px;
	padding:4px;
	padding-left:10px;
	background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.home_facepile_box h1 {
	font-weight:500;
	margin-top:5px;
	font-size:26px;
	color:#26568D;
	font-family:helvetica neue;
	text-align:left;
	line-height: 1;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

.signin_button {
	margin-left:40px;
	-moz-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	box-shadow:inset 0px 1px 0px 0px #99d6ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51bafc), color-stop(1, #0076d1) );
	background:-moz-linear-gradient( center top, #51bafc 5%, #0076d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51bafc', endColorstr='#0076d1');
	background-color:#51bafc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #005cad;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #00058a;
}
.signin_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36a2e0), color-stop(1, #0065b3) );
	background:-moz-linear-gradient( center top, #36a2e0 5%, #0065b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36a2e0', endColorstr='#0065b3');
	background-color:#36a2e0;
	cursor:pointer;
}
.signin_button:active {
	color:#EEE;
}
.forgot_password {
	vertical-align:top;
	font-size: 10pt;
	margin-bottom:10px;
}

.signup_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #99d6ff;
	box-shadow:inset 0px 1px 0px 0px #99d6ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51bafc), color-stop(1, #0076d1) );
	background:-moz-linear-gradient( center top, #51bafc 5%, #0076d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51bafc', endColorstr='#0076d1');
	background-color:#51bafc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #005cad;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 1px #00058a;
}
.signup_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36a2e0), color-stop(1, #0065b3) );
	background:-moz-linear-gradient( center top, #36a2e0 5%, #0065b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36a2e0', endColorstr='#0065b3');
	background-color:#36a2e0;
	cursor:pointer;
}
.signup_button:active {
	color:#EEE;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  background: #004F77;
	border: 1px gray solid;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}


div.field, div.actions {
  margin-bottom: 20px;
}

/************* CSS for notices and messages **********/

.access_error {
	background-color: red;
	border:1px solid gray;
	height: 30px;
	width: 300px;
	
}

.field_with_errors {

/****** color around the form fields on error *******/

}

.field_with_errors label {
  color: red;
  margin-left:6px;
  font-size:10pt;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/************* CSS for links throughout site **********/

ul.users {
  margin-top: 1em;
color: #333333;
}

.users li {
  list-style: none;
color: #333333;
}

/************* CSS for authentication services **********/

.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.authentication img {
  float: left;
}

.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
	border:none;
	display: block;
	width: 210px; height: 32px;
	background-image: url('fb_connect.png');
	background-position: top;
	text-indent: -9999px;
}
.auth_provider:hover {
	cursor:pointer;
	background-position: bottom;
}

#flash {
	margin-top:-45px;
	z-index:0;
	font-size:10pt;
	font-family:arial;
  padding: 10px;
  margin-left: auto;
	margin-right:auto;
  text-align:center;
	width:340px;
	background-color:rgba(10,10,10,0.5);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#flash.notice {

}

#flash.error, #flash.alert{
  
}

input.readonly{background:#ccc;}

.signup_link {
	font-size:14pt;
	margin-top:5px;
	margin-left:7px;
}
.captcha_holder {
	margin-left: 80px;
	margin-bottom: -20px;
	margin-top:10px;
}
.signup_condition {
	font-size:8pt;
	color:gray;
}
.facepile {
	padding-top:20px;
	padding-bottom:10px;
	float:left;
	margin-left:35px;
}
