.container {
	margin-left:auto;
	margin-right:auto; 
width: 900px;
}

body {
  background-color: #D2ECFF;
}

header {
padding-top: 20px;
color: gray;
border-radius: 7px; 
border: 1px solid gray;
-moz-border-radius: 7px; 

-webkit-border-radius: 7px; 

background: #929fa3; /* Old browsers */
background: -moz-linear-gradient(top, #929fa3 0%, #4e5b63 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929fa3), color-stop(100%,#4e5b63)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #929fa3 0%,#4e5b63 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #929fa3 0%,#4e5b63 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #929fa3 0%,#4e5b63 100%); /* IE10+ */
background: linear-gradient(top, #929fa3 0%,#4e5b63 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929fa3', endColorstr='#4e5b63',GradientType=0 ); /* IE6-9 */

box-shadow: 0 0 6px 1px #999;
height:50px;
padding: 0.25em;


}
.header_text {
	color:white;
	font-weight:500;
	font-size: 29pt;
  font-family: helvetica;
margin-left: 20px;
text-shadow: 0 0 6px #505859


}

header img {
  padding: 1em;
  background: #fff;
}
.headerlink {
	font-family: arial;
	font-weight:200;
	color: #55ccff;
	font-size: 13pt;
}
section {
  margin-top: 1em;
  font-size: 120%;
font-family: sans-serif;
font-style: black;
  padding: 20px;
  background: #fff;
border: 1px solid #999999;
background-color: #F5F5F5;
background-color: #F5F5F5;
-moz-box-shadow: 0 0 6px 2px #888;
-webkit-box-shadow: 0 0 6px 2px#888;
box-shadow: 0 0 6px 1px #999;
}

.fblike {
	width: 50%;

	margin-bottom: -20px;
	margin-top: 30px;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #069;
  text-decoration: none;

}

a:hover {
  color: #069;
  text-decoration: bold;
}

a:visited {
  color: #069;
}
.welcome_user {
	color: white;
	font-size:14px;
	text-align:right;
	font-family:arial;
	margin-top:-13px;
	margin-right: 2%;
}
/* Navigation */

.headerlink_place {
	margin-top:-15px;
	margin-right:52%;
	color: #333333;
}

nav {
	margin-top:-30px;
float:right;
  padding: 0 0.7em;
  white-space: nowrap;
color: #333333;
}

nav ul {
  margin: 0;
  padding: 0;
color: #333333;
}

nav ul li {
  color: #333333;
list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: #333333;
padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #333333;

}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-top: -35px;
	margin-left: 60px;
  display: block;
  text-align: center;
}

/* Round corners */

.round {
 
-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}
.welcome_line{
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
	font-family: centuri schoolbook;
	font-size: 24pt;
	font-style: bold;
	color:#000033;
	text-shadow: 0 0 10px white;
}
.stat_spacer {
	margin-top:10px;
	font-size:12pt;
	text-align:center;
	
}
.delete_link {
	
	margin-bottom:-30px;
	margin-left:-40px;
	font-size:12px;
	margin-top:50px;
}
.delete_link_place {
	margin-top:50px;
}
.follow_main {
	margin-top:10px;
	margin-bottom:5px;
	margin-left:48px;
}
.unfollow_button{
	border:none;
	display: block;
	width: 114px; height: 32px;
	background-image: url('unfollowbutton.jpg');
	background-position: top;
	text-indent: -9999px;

}
.unfollow_button:hover {
	cursor:pointer;
	background-position: bottom;

}
.follow_button {
	border:none;
	display: block;
	width: 114px; height: 32px;
	background-image: url('followbutton.jpg');
	background-position: top;
	text-indent: -9999px;
}
.follow_button:hover {
	cursor:pointer;
	background-position: bottom;
}

.home_signin_line{
	margin-bottom: -25px;
	margin-top: 30px;
	margin-left: 150px;
	color: #104E8B;
	font-size: 19px;
}
.signupset{
	float:right;
	margin-right:200px;
	margin-top:15px;
}
.signupset_submit{
	background:url('signinbutton_up.jpg');
	border: none;
	height: 40px;
	width: 115px;
	cursor:pointer;
margin-top:20px;
margin-left: 400px;
}
.signup_link {
	font-size: 10pt;
	margin-top:10px;
	margin-left: 50px;
}

.share_placement{
	margin-top:-20px;
}
.submitpost {
	border:none;
	display: block;
	width: 144px; height: 37px;
	background-image: url('sharebutton.jpg');
	background-position: top;
	text-indent: -9999px;
}
.submitpost:hover {
	cursor:pointer;
	background-position: bottom;
}
.search_header {
	font-family: arial;
	font-size:22px;
	vertical-align:top;
	margin-left:30px;
	color: #000066;
}
.search_subheader{
	font-size:10pt;
	color:gray;
	font-style:italic;
	font-weight:200;
	margin-left:70px;
	margin-top:-21px;
}

.search_button{
	float:right;
	margin-right:60%;
	border:none;
	display: block;
	width: 30px; height: 29px;
	background-image: url('searchbutton.jpg');
	background-position: top;
	text-indent: -9999px;

}
.search_button:hover {
	cursor:pointer;
	background-position: bottom;

}
.search_field {
margin-left:40px;
background-color:white;
outline: none;
padding:10px;
	height:7px;
	width: 240px;
	font-size:13pt;
	color: #444444;
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border: 1px solid gray;
}
.search_results {
	border-bottom:1px solid gray;
	margin-bottom:10px;
	width: 400px;
}
.formfield {
	font-size: 12pt;
	width: 200px;
	height: 27px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #444444;
}
.profile_name {
	font-size:20pt;
	
}
.profile_email {
	font-size:12pt;
	font-style:italic;
	color:gray;
}
.profile_gravatar {
	margin-bottom:15px;
<<<<<<< HEAD
	text-align:center;
	border-top:1px solid #aaaaaa;
	
=======
	margin-left:12%;
>>>>>>> f9e9f1aea53163323cd86296b6826057ac1ec104
}
.dashfeed_content {
	font-size: 13pt;
	font-family: arial;
	color:#333333;
	margin-left:5px;
	vertical-align:bottom;
}
.feed_timestamp{
	vertical-align:bottom;
	margin-top: 20px;
	margin-bottom:-25px;
	font-size: 10pt;
	font-style: ;
	color:#004466;
}
.dashfeed_header {
	text-align:center;
	font-weight: 100;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:22pt;
	color:#002233;
	border-bottom:1px solid #aaaaaa;
	border-top:1px solid #aaaaaa;
	background-color: white;
}
.sidefeed {
	border-bottom: 1px solid #0099cc;
}
.dash_gravatar {
	margin-top: 10px;
	margin-bottom: 5px;
	float:left;
	text-align:center;
	border-top:1px solid #aaaaaa;
}
.dash_user {
	margin-top:-12px;
	float:left;
}
.micro_header {
	font-size:13pt;
	border-bottom:1px solid #cccccc;
	color: #333333;
	margin-bottom:-10px;
	font-style:bold;
}
.micro_timestamp {
	font-size: 12px;
	float:right;
	text-align: center;
	margin-top:20px;
	color: #004466;
}
.microfeed_content {
	vertical-align:top;
	font-size: 14px;
		font-style:italic;
}
.microfeed_spacer {
	margin-top:5px;
	margin-bottom:-12px;
	text-align:center;
	color: gray;
}
.home_email{
	margin-left: 38px;
	margin-top:30px;
	vertical-align:top;


	
}
.home_password{
	margin-top: 5px;
	
	

}
.home_submit {
	margin-left: 120px;
	
}
.signin_button {
	background:url('signinbutton_down.jpg');
	border: none;
	height: 40px;
	width: 115px;
}
.signin_button:hover {
	background:url('signinbutton_up.jpg');
	border: none;
	height: 40px;
	width: 115px;
	cursor:pointer;
}

.signup_button {
	background:url('signupbutton_down.jpg');
	
	height: 40px;
	width: 115px;
}
.signup_button:hover {
	background:url('signupbutton_up.jpg');
	border: none;
	height: 40px;
	width: 115px;
	cursor:pointer;
}

.globalfeed {
	width: 90%;
	border: solid gray;
	border-width: 1px;
	padding-left: 15px;
	margin-left: 15%;
	margin-right: 20%;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: white;
	border: #BBBBBB solid;
	border-width: 1px;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}


div.field, div.actions {
  margin-bottom: 20px;
}


.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
color: #333333;
}

.users li {
  list-style: none;
color: #333333;
}
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;

}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
width: 90%;
}

table.microposts tr td.micropost span.timestamp {
vertical-align: bottom; 
 display: block;
  font-size: 65%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {

vertical-align:top;  
position: absolute;

}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
width: 475px;  
height: 4em;
font-size: 12pt;
font-weight:200;
  margin-bottom: 0;
	-moz-border-radius:    5px;
	  -webkit-border-radius: 5px;
	  border-radius:         5px;
	border: #AAAAAA solid;
	border-width: 1px;
}


.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.authentication img {
  float: left;
}

.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

