<footer>
  <nav class="round">
    <ul>
      Brock Harris & Chris Scutti © 2011
		<li><%= link_to "Terms of use", terms_path %></li> |
      <li><%= link_to "Privacy Policy", privacy_path %></li> 
      
    </ul>
  </nav>
</footer>