      <header>
<div class="header_text">     
 truthpage.me
</div>        
<nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li> | 
            <li><%= link_to "Help", help_path %></li> | 
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
      </header>